C0 = #001816
C1 = #004742
C2 = #006861
C3 = #00897F
C4 = #00C6B7

FONT_SIZE = 12pt

*
  margin 0
  padding 0
  font-family Sans-serif
  overflow-x hidden

html
body
  font-size FONT_SIZE
  background BLACK
  color WHITE
  height 100%
  width 100%
  position absolute
  display table

header
  font-size 1.3em
  height HEADER_HEIGHT

main
  display table-cell
  text-align center
  vertical-align middle

ul
  list-style none

.chat-input
  width 100%

.chat
  text-align left

.info
  display inline-block
  vertical-align top
  min-width 100%
  width 100%

.users
  display inline-block
  min-width 100%
  width 100%
  vertical-align top
  border-style solid
  border-width 1px
  border-color WHITE

.chat
  display inline-block
  min-width 100%
  width 100%
  border-style solid
  border-width 1px
  border-color WHITE

.name
  font-weight bold

@media (min-width 51em)
  html
  body

    .users
      min-width 20em
      width 20em

    .chat
      min-width 30em
      width 30em