C0 = #001816
C1 = #004742
C2 = #006861
C3 = #00897F
C4 = #00C6B7

FONT_SIZE = 6pt
BLOCK_WIDTH = 8em
SVG_WIDTH = 4em
HEADER_HEIGHT = 3em

*
  margin 0
  padding 0
  font-family Sans-serif

html
body
  font-size FONT_SIZE
  background BLACK
  color WHITE
  height 100%
  width 100%
  position absolute
  display table

a
  text-decoration none
  color inherit

header
  font-size 1.3em
  height HEADER_HEIGHT

main
  display table-cell
  text-align center
  vertical-align middle

  ul
    margin 0 auto
    max-width BLOCK_WIDTH * 6

.menu-item
  display inline-block
  list-style-type none
  width BLOCK_WIDTH
  height BLOCK_WIDTH

  svg
    width SVG_WIDTH
    height SVG_WIDTH
    fill C4

  :hover
    color C4

footer
  color GRAY

@media (min-width 20em)
  html
  body
    font-size FONT_SIZE * 2

@media print
  @page
    size 8.5in 11in portrait
    margin 1in

  html
  body
    color BLACK
    background WHITE

  a:link:after
    content: ' - 'attr(href)

  main
    text-align left
    margin 0 auto
    vertical-align top

  .menu-item
    width 100%
    height 3em

    svg
      width 2em
      height 2em
      vertical-align middle
      margin .5em

    p
      display inline
