doctype html
html
  head
    title Games

    meta(
      name="description"
      content="Games created by Bryan Grounds"
    )

    meta(
      charset="UTF-8"
    )

    meta(
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    )

    link(
      rel="stylesheet"
      href="css/games.css"
    )

  body
    main

    div
      script(src="js/games.js")

