doctype html
html
  head
    title Bryan's HomePage

    meta(
      name="description"
      content="Bryan Grounds' website"
    )

    meta(
      charset="UTF-8"
    )

    meta(
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    )

    link(
      rel="stylesheet"
      href="/css/stylesheet.css"
    )

  body
    main
      header
        h1 Bryan Grounds

      ul
        each link in links
          li.menu-item
            a(title=link.title href=link.url target="_blank")
              img(inline src=link.icon)
              p #{link.title}

      footer #{version}

